.body {
    margin-top: 70px;
}

.count {
    margin-left: 10px;
    color: #CBCBCB;
    font-size: 14px;
}

.cleanup_btn {
    background-color: #C32020;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item_title {
    width: 100%;
    color: white;
    background-color: #E0E0E0;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    justify-content: space-between;
    transition:　0.3s;
}

.item_title p {
    padding: 0;
    margin: 0;
}

.item_title div {
    
    width: 20px;
    height: 32px;
    background-color: #D5D5D5;
    margin-right: 8px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes in{
  from{
      transform: translateX(-250px);
      opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.item_container_flex {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    animation: in 800ms;
    transition: 700ms;
}

.item_status {
    padding: 27px 32px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}





/* toggle button */
.toggleButton {
    display: flex;
    font-size: 14px;
    color: #CCCCCC;
    box-sizing: border-box;
}

.toggleButton span {
    padding-top: 5px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: scale(0.65);
    
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1982D8;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1982D8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }