.div-horizontal-start{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	line-height: normal;
}
.div-vertical-start{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	line-height: normal;
}


.div-horizontal-center{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	line-height: normal;
}
.div-vertical-center{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	line-height: normal;
}
